# Activar mod_rewrite
RewriteEngine On
RewriteBase /

# Redirigir todo HTTP a HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Bloquear todo lo demás dentro de /storage
RewriteCond %{REQUEST_URI} ^/storage(/.*)?$
RewriteRule ^ - [F,L]

# Bloquear acceso directo a /app
RewriteCond %{REQUEST_URI} ^/app(/.*)?$
RewriteRule ^ - [F,L]

# Servir directamente archivos y carpetas reales
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Denegar todo lo que no sea /public (redirigir a index.php)
RewriteRule ^ index.php [L]
