# Activar mod_rewrite
RewriteEngine On
RewriteBase /

# Forzar HTTPS siempre
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Bloquear acceso directo a /app
RewriteRule ^app(/.*)?$ - [F,L]

# Bloquear acceso directo a /storage
RewriteRule ^storage(/.*)?$ - [F,L]

# Permitir acceso directo solo a archivos/carpetas dentro de /public
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirigir todo lo demás hacia /public/index.php
RewriteRule ^(.*)$ public/index.php [L]
